@import '@/styles/variables';
@import '@/styles/mixins';

.card {
    @include card-styles($padding: $spacing-lg, $shadow: $box-shadow-sm);
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    text-align: left;
    position: relative;
    height: 100%;
}

.name {
    font-size: $font-size-lg;
    color: $color-main-600;
    margin-top: 0;
    margin-bottom: $spacing-xs;
}

.description {
    font-size: $font-size-base;
    color: $color-main-500;
    flex-grow: 1;
    margin-bottom: $spacing-md;
}

.meta {
    font-size: $font-size-sm;
    color: $color-main-500;
    display: flex;
    gap: $spacing-md;
    margin-bottom: $spacing-sm;
    flex-wrap: wrap;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xxs;
    margin-bottom: $spacing-md;
}

.tag {
    background-color: $color-main-400;
    color: $color-main-100;
    padding: $spacing-xxs $spacing-sm;
    border-radius: $border-radius-lg;
    font-size: $font-size-md;
}

.actions {
    display: flex;
    gap: $spacing-sm;
    margin-top: auto;
    flex-wrap: wrap;
}

.actionButton {
    flex-grow: 1;
}