# Python
venv/
__pycache__/
*.pyc
.env

# Node.js
node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/

# macOS
.DS_Store

# Generated PDFs (optional, but good to ignore outputs)
*.pdf

*/config.py