@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@mixin button-styles($bg-color: $color-primary, $text-color: $color-main-100) {
  @include button-reset;
  padding: $spacing-md $spacing-lg;
  border-radius: $border-radius-md;
  background-color: $color-main-800;
  color: $color-main-100;
  font-size: $font-size-base;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.1s ease;

  &:hover {
    background-color: darken($color-main-100, 10%);
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }

  &:disabled {
    background-color: $color-main-500;;
    cursor: not-allowed;
    opacity: 0.7;
    transform: none;
  }
}

@mixin card-styles($padding: $spacing-lg, $shadow: $box-shadow-sm) {
  background-color: $color-main-100;
  border-radius: $border-radius-md;
  padding: $padding;
  box-shadow: $shadow;
}

@mixin breakpoint-sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (max-width: 1024px) {
    @content;
  }
}