@import '@/styles/variables';
@import '@/styles/mixins';

.card {
  @include card-styles($padding: $spacing-lg, $shadow: $box-shadow-sm);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 200px;
  background-color: $color-main-100;

  &:hover {
    transform: translateY(-5px);
    box-shadow: $box-shadow-md;
  }
}

.title {
  font-size: $font-size-h3;
  color: $color-main-600;
}

.description {
  font-size: $font-size-sm;
  color: $color-main-500;
  flex-grow: 1;
}

.selectButton {
  @include button-styles($bg-color: $color-main-100, $text-color: $color-main-100);
  width: 100%;
}