@import '@/styles/variables';
@import '@/styles/mixins';

.card {
  @include card-styles($padding: $spacing-lg, $shadow: $box-shadow-sm);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 200px;
  background-color: $color-main-100;
  border: 2px solid transparent;

  &:hover {
    transform: translateY(-5px);
    box-shadow: $box-shadow-md;
  }

  @include breakpoint-sm {
    @include card-styles($padding: $spacing-sm, $shadow: $box-shadow-sm);
    width: 80px;
    height: 80px;
  }
}

.title {
  font-size: $font-size-h3;
  color: $color-main-600;

  @include breakpoint-sm {
    font-size: $font-size-xs;
  }
}

.description {
  font-size: $font-size-md;
  color: $color-main-500;
  flex-grow: 1;

  @include breakpoint-sm {
    font-size: $font-size-xxs;
    margin: 0;
    margin-top: $spacing-xxs;
  }
}

.checkmark {
  font-size: $font-size-h2;
  color: $color-main-500;
  position: absolute;
  bottom: $spacing-xs;
  right: $spacing-sm;

  @include breakpoint-sm {
      font-size: $font-size-lg;
    }
}

.selected {
  border-color: $color-main-500; 
  box-shadow: $box-shadow-md; 
  position: relative;
}