@import '@/styles/variables';

.listContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 0;
}

.emptyMessage {
  font-size: $font-size-sm;
  color: $color-main-500;
  text-align: center;
  padding: $spacing-sm;
}