@import '@/styles/variables';
@import '@/styles/mixins';

.listContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  max-height: 44vh;
  overflow-y: auto;
  padding-right: 0;

  @include custom-scrollbar-color (
    $thumb-color: $color-main-500,
    $track-color: $color-main-100,
    $thumb-hover-color: $color-main-400 
  );
}

.emptyMessage {
  font-size: $font-size-sm;
  color: $color-main-500;
  text-align: center;
  padding: $spacing-sm;
}