@import '@/styles/variables';
@import '@/styles/mixins';

.header {
  font-size: $font-size-h1;
  color: $color-main-600;
  margin-top: $spacing-md;
  text-align: center;
  width: 100%;
  border-top: $border-width-md solid $color-main-400;
  border-bottom: $border-width-md solid $color-main-400;

  @include breakpoint-sm {
    font-size: $font-size-lg;
    margin-top: $spacing-xs;
  }
}