@import '@/styles/variables';
@import '@/styles/mixins';

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-md;
  align-items: start;
  padding: $spacing-sm;

  @include breakpoint-md {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-sm;
  }

  @include breakpoint-sm {
    grid-template-columns: 1fr;
    gap: $spacing-sm;
  }
}

.inputField, .checkboxField {
  margin-bottom: 0; 
  
  width: 100%; 
}