@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  padding: $spacing-xl;
  max-width: 1600px;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-main-300;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-lg;

  @include breakpoint-sm {
    padding: $spacing-md;
  }
}

.curriculumGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

.topicCardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: $spacing-lg;
  width: 100%;
  justify-items: center;
}