@import '@/styles/variables';
@import '@/styles/mixins';


.inputGroup {
  margin-bottom: $spacing-md;
  width: 100%;

  display: flex;
  align-items: center;
  gap: $spacing-sm;

  .label { flex-shrink: 0; width: 100px; text-align: right; }
  .input { flex-grow: 1; }
}

.label {
  font-size: $font-size-sm;
  color: $color-main-500;
  font-weight: 500;
}

.input {
  width: 50%;
  padding: $spacing-sm $spacing-md;
  border: 1px solid $color-main-300;
  border-radius: $border-radius-sm;
  font-size: $font-size-base;
  color: $color-main-600;
  background-color: $color-main-200;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &:focus {
    outline: none;
    border-color: $color-main-500;
    box-shadow: 0 0 0 2px rgba($color-main-500, 0.2);
  }

  &:disabled {
    background-color: $color-main-300;
    cursor: not-allowed;
    opacity: 0.8;
  }

  &::placeholder {
    color: $color-main-500;
    opacity: 0.7;
  }
}

.top {
  flex-direction: column;
  align-items: center;
  gap: $spacing-xxs;

  .label {
    display: block; 
    margin-bottom: 0; 
    text-align: center;
  }
}