@import '@/styles/variables';
@import '@/styles/mixins';

.howToUseSection {
  @include card-styles($padding: $spacing-lg, $shadow: $box-shadow-sm);
  margin-bottom: $spacing-md;
  width: 100%;
  max-width: 800px; 
  text-align: left;
}

.header {
  @include flex-between;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacing-xl;
}

.title {
  font-size: $font-size-h3;
  color: $color-main-600;
  margin: 0 $spacing-md 0 $spacing-md;
  text-align: center;
}

.toggleButton {
  margin: 0 $spacing-md 0 $spacing-md;
  padding: 0;
  font-size: $font-size-md;
}

.content {
  max-height: 500px; 
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
  margin: 0 $spacing-md 0 $spacing-md;

  p, ol, ul {
    margin-bottom: $spacing-sm;
    font-size: $font-size-base;
    color: $color-main-500;
  }

  ol, ul {
    padding-left: $spacing-xl;
  }

  li {
    margin-bottom: $spacing-xs;
  }
}

.collapsed {
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
}