@import '@/styles/variables';
@import '@/styles/mixins';

.navbar {
  background-color: $color-main-600; 
  padding: $spacing-md 0;
  box-shadow: $box-shadow-md;
  position: sticky; 
  top: 0;
  z-index: 1000;
  font-family: Motley Forces, $font-family-sans;
  text-align: center;
}

.container {
  @include flex-between;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 $spacing-xl;

  @include breakpoint-sm {
    padding: 0 $spacing-md;
    @include flex-row-center
  }
}

.logoSection {
  @include flex-center;
}

.logoText {
  font-size: $font-size-h2; 
  font-weight: 100;
  color: $color-main-100;
  text-decoration: none;
  @include breakpoint-md {
    font-size: $font-size-h3; 
  }

  @include breakpoint-sm {
    font-size: $font-size-lg;
    margin-right: $spacing-xxl; 
  }
}

.desktopText {
  display: block;
  @include breakpoint-sm {
    display: none;
  }
}

.mobileText {
  display: none;
  @include breakpoint-sm {
    display: block;
  }
}

.logoImageLink {
  line-height: 0;
}

.logoImage {
  border-radius: $border-radius-sm;
}

.navLinks {
  ul {
    @include flex-center;
    gap: $spacing-lg;

    @include breakpoint-md {
      gap: $spacing-md;
    }

    @include breakpoint-sm {
      gap: $spacing-sm;
    }
  }
}

.navItem {
  color: $color-main-100;
  font-size: $font-size-base;
  font-weight: 500;
  border-radius: $border-radius-sm;
  transition: background-color 0.2s ease, transform 0.1s ease;
  font-family: Georgia, serif;

  &:hover {
    background-color: rgba($color-main-100, 0.2);
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}